<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385186272792-flndg7gbbovljd66fsj4a82c19o1r7d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385186272792-flndg7gbbovljd66fsj4a82c19o1r7d5</string>
	<key>API_KEY</key>
	<string>AIzaSyCpLXntzFK07UuUClwYM3JUkKfFz03rjP4</string>
	<key>GCM_SENDER_ID</key>
	<string>385186272792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-9383c</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-9383c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385186272792:ios:a557a4521cf2a5c33b556d</string>
</dict>
</plist>